@import "variables.less";

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: @gray;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    letter-spacing: 1px;
}

h2{
    font-size: 45px;
    font-weight: 400;
    display: inline-block;
    margin: 0 auto 35px;
    position:relative;
    padding: 0 80px;

}
h2:before, h2:after{
    content: " ";
    display: block;
    width: 58px;
    height: 37px;
    position:absolute;
    top: 50%;
    margin-top: -16px;
}
h2:before{
    background-image :url('../img/flower-left.png');
    left: 0;
}
h2:after{
    background-image :url('../img/flower-right.png');
    right: 0;
}


p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 1.5;
}

.lead{
    color: @dark;
    font-size: 20px;
    font-weight: 100;
}

@media(min-width:767px) {
    p {
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 1.6;
    }
    .lead{
        font-size: 28px;
    }
}

a {
    color: darken(@primary,5%);
    text-decoration: underline;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        color: darken(@primary,20%);
    }
}

small, .small {
    font-size: 75%;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid fade(@light, 30%);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    background-color: @dark;
    a {
        color: @light;
        text-decoration: none;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover,
                &:focus,
                &.active {
                    outline: none;
                    background-color: fade(@light, 30%);
                }
            }
            &.active a{
                background-color: fade(@light, 50%);
            }
        }
    }
    .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar-collapse {
        text-align: center;
        background-color: lighten(@dark, 5%);
    }
    .navbar-toggle{
        color: @light;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        padding: 0;
        background-color: @dark;
        border-bottom: 1px solid fade(@light, 30%);
        .navbar-collapse {
            text-align: center;
            background-color: transparent;
        }
    }
}

.intro {
    width: 100%;
    text-align: center;
    margin-top:50px;
    color: @gray;
    background-color: @light;
    background-size: contain;
    .intro-body {
        .intro-text {
            font-size: 20px;
            font-weight: 100;
            margin: 0 0 55px;
            line-height: 30px;
        }
        img{
            margin: 0 auto;
        }
        strong{
            font-style: italic;
            font-size: 1.2em;
            font-weight: 300;
        }
    }
}

@media(min-width:767px) {
    .intro {
        .intro-body {
            .intro-text {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
}

.content-section {
    padding-top: 65px;
    padding-bottom: 50px;
}

.rsvp-section {
    padding-top: 0;
}

.reception-section{
    background: url('../img/grid.png');
}

.map-section{
    padding-bottom: 0;
    > div:first-child {
        margin-bottom: 40px;
    }
}

#map-zone {
    width: 100%;
    height: 500px;
    .gm-style-iw{
        width: 220px;
        h3{
            margin: 0 0 5px;
            text-align: center;
            padding-left: 23px;
            font-size: 30px;
        }
        p{
            text-align: center;
            font-size: 15px;
            margin: 0 0 5px;
            padding-left: 23px;
        }
        a{
            text-align: center;
            width: 100%;
            display: inline-block;
            font-size: 18px;
            padding-left: 23px;
        }
    }
}

@media(min-width:767px) {
    #map-zone {
        height: 600px;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid @primary;
    color: @primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid @primary;
        outline: none;
        color: @dark;
        background-color: @primary;
    }
}

.flags{
    margin: 0 auto 50px;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(@light, 20%);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(@light, 20%);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: fade(@light, 20%);
}
